<div class="relative bg-white shadow dark:bg-gray-700"> 
    <form>
      <div class="grid gap-4 mb-4 grid-cols-3">     
        <div class="col-span-1">
          <label for="expenses" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expenses</label>
          <input [(ngModel)]="payroll.expense" type="number" name="expenses" id="expenses" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type location name" required="">
        </div> 
        <div class="col-span-1">
          <label for="maintenance" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tax</label>
          <input [(ngModel)]="payroll.tax" type="number" name="taxes" id="taxes" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type location name" required="">
        </div> 
        <div class="col-span-1">
          <label for="managerHours" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Workers Comp</label>
          <input [(ngModel)]="payroll.workmanComp" type="number" name="workmanComp" id="workmanComp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type location name" required="">
        </div> 
        <div class="col-span-1">
          <label for="otherExpenses" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Wage</label>
          <input [(ngModel)]="payroll.wage" type="number" name="wages" id="wages" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type location name" required="">
        </div> 
        <div class="col-span-1">
          <label for="percentOfTaxes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Other Expense</label>
          <input [(ngModel)]="payroll.otherExpense" type="number" name="otherExpenses" id="otherExpenses" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type location name" required="">
        </div> 
    </div> 
    </form> 
    <div class="flex gap-2 justify-end">
      <button type="button" (click)="upsertPayroll()" style="padding: 20px;line-height: 1px;"
        class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        Save
    </button> 
    </div> 
</div>