 

.mat-mdc-row {
  height: 35px !important;
}
 
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  font-weight: bold;
  color: rgb(59, 130, 246);
  background-color: lighten($color: #ebedef, $amount: 0);
}

.mat-header-cell {
  font-weight: bold;
}