<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1">
        <mat-card class="example-card dark:bg-gray-800 dark:text-white dark:border-gray-600  ">
            <mat-card-header>
                <mat-card-title>Configurations</mat-card-title>
            </mat-card-header>
            <div style="margin: 0px 16px;">
                <mat-divider ></mat-divider>
            </div>                
            <mat-card-content style="padding-top: 10px;">
                <app-location></app-location>
            </mat-card-content>
        </mat-card>
    </div>
</div>
